# Credenciais do Administrador para gerenciar o cardápio
ADMIN_EMAIL=admin@etec.sp.gov.br
ADMIN_PASSWORD=etec123

# Opcional: Chave de segurança para sessão
AUTH_SECRET=etec-boituva-cardapio-secret-2024

